@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.cont-header {
    height: auto;
    width: 100vw;
    background-color: #13678A;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-header img {
    height: 100px;
    width: auto;
    background-color: #80c1b2;
    padding: 20px;
    border-radius: 50%;
}

.cont-header h1 {
    font-size: 3rem;
}

.inicio {
    height: 50px;
    width: 120px;
    color: white;
    letter-spacing: 1.5px;
    font-size: 20px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    background-color: #80c1b2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorTotalPagar {
    background-color: white;
    text-align: start;
    padding: 10px 40px;
}

.contenedorPrincipal {
    height: 100vh;
    width: 100vw;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardTajetaCredito {
    background: linear-gradient(70deg, rgba(230, 214, 1, 0.815), white, rgb(255, 238, 0));
    height: 200px;
    width: 350px;
    margin-top: 40px;
    padding: 30px;
    box-shadow: 3px 3px 15px 0px rgb(56, 56, 56);
    border-radius: 15px;
}

.imagenTc {
    text-align: right;
    min-height: 30px;
}

.imagenTc img {
    height: 100%;
    width: 100%;
    max-width: 60px;
    object-fit: cover;
}

.chip img {
    width: 100%;
    max-width: 50px;
    margin-bottom: 10px;
}

.titulo {
    color: rgb(121, 121, 121);
    font-size: 14px;
    margin: 4px;
}

.cont-datos .numero,
.cont-datos .nombre,
.cont-datos .fechaVence {
    font-size: 16px;
    margin-top: 0px;
}

.grupo-nom-fv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tituloValidar {
    font-size: 24px;
}

.formulario {
    margin-top: 20px;
    margin-left: 40px;
    height: 400px;
    width: 500px;
    background-color: white;
    box-shadow: 3px 3px 15px 0px rgb(56, 56, 56);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input {
    outline: none;
    border-width: thin;
    font-size: 16px;
    height: 20px;
    width: 100%;
    max-width: 450px;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover {
    border: 2px solid #13678A;
}

.selectFv {
    display: flex;
    flex-direction: row;
}

.selectFv select {
    width: 100px;
    border-width: thin;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 16px;
}

.selectFv select:focus {
    outline: none;
    border: 2px solid #13678A;
}

.div-boton-validar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-validar {
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #13678A;
    padding: 8px 10px;
    cursor: pointer;
}

.btn-validar:hover {
    background-color: #45C4B0;
}

.tarjetaValidacion {
    display: none;
}

/* estilos de la pagina principal */

/* estilos del sidebar */
.sidebar {
    background-color: white;
    width: 20%;
    min-width: 200px;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productosSeleccionados {
    min-height: 50%;
}

.productosSeleccionados li {
    padding: 5px;
    list-style: none;
    margin-top: 10px;
}

.btn-pagar {
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #13678A;
    padding: 8px 10px;
    cursor: pointer;
    width: 40%;
}

.btn-pagar:hover {
    background-color: #45C4B0;
}


/* estilos del main */
.EscogerLibros {
    /* background-color: palegoldenrod; */
    width: 100vw;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.escoge-producto {
    background-color: white;
    margin: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-btn {
    /* background-color: rgb(255, 188, 188); */
    width: 260px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    box-shadow: 3px 3px 15px 0px rgb(56, 56, 56);
    width: 250px;
    height: 380px;
    border-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card p {
    text-align: center;
}

.card img {
    padding: 5px;
    width: 150px;
    height: auto;
}

.btn-agregar {
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #13678A;
    padding: 8px 10px;
    cursor: pointer;
    width: 80%;
    margin-top: 15px;
}

.btn-agregar:hover {
    background-color: #45C4B0;
}

footer {
    background-color: #13678A;
    width: 100vw;
    height: auto;
    padding: 20px 0px 20px 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer img {
    height: 40px;
    width: auto;
    margin-right: 15px;
}